.Careers {
    
    .main {
        padding: 4em 1em;
        text-align: center;
        background-color: #D80A93;

        h2 {
            margin-bottom: 1rem;
            font-size: 3em;
            .key-words {
                font-weight: 600;
                color: #FDF9F5;
            }
        }

    }

    .even {
        background-color: #FDF9F5;
    }

    .section {
        margin: 1rem;

        padding: 2em;

        @media all and (min-width: 600px) {
            padding: 2em 20em;
        }

        .button-wrapper {
            text-align: center;
            .button {
                margin: 5em auto;
            }
        }

    }

    form {
        padding: 2em;

        @media all and (min-width: 600px) {
            padding: 2em 20em;
        }
    }

}